<ul class="background">
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
   <li></li>
</ul>
<div class="mycontainer">
  <div class="card text-white m-5" style="max-width: 25rem;">
    <div class="card-header text-center">
      <h2><i class="fa-solid fa-cloud-sun"></i>&nbsp;<b>WEATHER_APP</b></h2>
    </div>
    <div class="card-body p-5">
      <div class="row g-3 align-items-center">
        <div class="col-auto" id="input">
          <input [(ngModel)]="name"  type="text" placeholder="  Enter city" class="form-control bg-cyan-100" id="bar">
        </div>
        <div class="col-auto">
          <button id="button" (click)="weatherdata()" data-bs-toggle="popover" title="Search">
            <!-- search -->
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </div>
        <table class="table" style="width:100%"> 
          <tr>
            <td>{{city}}</td><td><img [src]="getIconUrl(myWeather.weather[0].icon)"></td>
          </tr>
          <tr>
            <td>Summary</td><td>{{summary}}</td>
          </tr>
          <tr>
            <td>Description</td><td>{{description}}</td>
          </tr>
          <tr>
            <td>Temperature</td><td><i class="fa-solid fa-temperature-three-quarters"></i>{{temperature}} °F</td>
          </tr>
          <tr>
            <td>Humidity</td><td><i class="fa-sharp fa-solid fa-droplet"></i>{{humidity}}%</td>
          </tr>
          <tr>
            <td>Feels like</td><td><i class="fa-solid fa-temperature-low"></i>{{feelsLikeTemp}} °F</td>
          </tr>
          <tr>
            <td>Pressure</td><td><i class="fa-solid fa-p"></i>{{pressure}} hPa</td>
          </tr>
        </table>   
    </div>

  </div>
</div>